# Checking variable type

In [8]:
            a_var = 23

In [9]:
a_var

23

In [10]:
type(a_var)

int

In [4]:
is_today_saturday = False

In [5]:
is_today_saturday

False

In [6]:
type(is_today_saturday)

bool

In [7]:
a_name = 'John'

In [8]:
a_name

'John'

In [9]:
type(a_name)

str

In [10]:
the_3_musketeers = ['Athos', 'Porthos', 'Aramis']

In [11]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [12]:
type(the_3_musketeers)

list

# Converting floats and ints

In [11]:
current_year = 2020

In [12]:
pi = 3.14

In [13]:
float(current_year)

2020.0

In [14]:
int(pi)

3

In [15]:
a_large_negative_number = -28983498398408923892938298492389849384

In [16]:
type(a_large_negative_number)

int

In [17]:
float(a_large_negative_number)

-2.8983498398408923e+37

In [18]:
type(50 * 2.0)

float

type(50 * 2)

In [20]:
type (10/2)

float

In [23]:
type(10/3)

float

In [27]:
type(10//3)

int

#### Booleans are automatically converted to int when used in arithmetic operations. True is converted to 1 and False to 0

In [31]:
4 + True

5

In [32]:
4 + False

4

#### Any value in Python can be converted to a Boolean using the bool function

###### Only the values equals to 0, 0.0, None, "", or empty lists, tuples, dictionaries, sets, ranges will be considered False

In [33]:
bool(False)

False

In [34]:
bool(0)

False

In [38]:
bool([])

False

In [39]:
bool([1,2,3,4,5])

True

In [35]:
bool(1)

True

In [37]:
bool('oi')

True

#### None value is used to indicate the absence of a value.

In [41]:
nothing = None

In [42]:
type(nothing)

NoneType

## String

#### There are some examples below on how to deal with 'string' using Python

In [4]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [6]:
len(multiline_string) #Python stores the 'Enter' as a character

3

In [7]:
list(multiline_string) #It is possible to convert a string into a list using the method list()

['a', '\n', 'b']

In [8]:
today = 'Tuesday'

In [9]:
today[0]

'T'

In [10]:
today[3]

's'

In [11]:
today[5]

'a'

In [12]:
today[0:4]

'Tues'

In [14]:
'day' in today

True

In [15]:
'smile' in today

False

In [16]:
full_name = 'John Smith'

In [17]:
greeting = 'Hello'

In [21]:
greeting + " " + full_name + "!" #Tip: Always remember the additional space between string variables

'Hello John Smith!'

In [22]:
today.lower()

'tuesday'

In [23]:
"tuesday".upper()

'TUESDAY'

In [25]:
"Wednesday".capitalize() #change first character to uppercase

'Wednesday'

In [26]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",") #split() method will split the string into a list

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [27]:
a_long_line = '           This is an example           '

In [30]:
a_long_line_stripped = a_long_line.strip() #the strip() method removes whitespace characters from the beginning and end of a string

In [31]:
a_long_line_stripped

'This is an example'

In [35]:
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, then the total profit it makes by
selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, then the total profit it makes by
selling {} ice bags is $ {}.

In [38]:
#Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin * 100, number_of_bags, total_profit)
print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %, then the total profit it makes by
selling 500 ice bags is $ 125.0.

##### the placeholders {} are replaced with arguments provided by the format() method

In [42]:
#It is also possible to concatenate the values. However you will need to use the str() function

output_message = "If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + " per bag, with a profit margin \nof " + str(profit_margin * 100) + " %, then the total profit it makes by selling " + str(number_of_bags) + " ice bags is $" + str(total_profit)  + "."
print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin
of 20.0 %, then the total profit it makes by selling 500 ice bags is $125.0.

In [17]:
fruits = ['apple', 'banana', 'cherry']
a_list = [23, 'hello', None, fruits, 3<=5]

In [ ]:
a_list

In [ ]:
a_list[2:5]

In [6]:
a_list[3][2]

'cherry'

In [18]:
fruits[1] = 'blueberry' #changing a value of a list using its index; last value is removed

In [19]:
fruits

['apple', 'blueberry', 'cherry']

In [20]:
fruits.append('dates') #appending a value into a list

In [21]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

In [22]:
fruits.insert(1, 'banana') #inserting a value into a list; last value is preserved

In [23]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

In [24]:
fruits.remove('blueberry') #removing a item from a list based on its value

In [25]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [26]:
fruits.pop(1) #removing a item from a list based on its index

'banana'

In [27]:
fruits

['apple', 'cherry', 'dates']

In [28]:
'pinapple' in fruits #checking if there is certain value in the list

False

In [35]:
more_fruits = fruits + ['pinapple', 'tomato', 'guava'] + ['dates', 'banana'] #concatenating lists

In [36]:
more_fruits

['apple', 'cherry', 'dates', 'pinapple', 'tomato', 'guava', 'dates', 'banana']

In [37]:
more_fruits.reverse() #reverse the order of elements in a list

In [38]:
more_fruits

['banana', 'dates', 'guava', 'tomato', 'pinapple', 'dates', 'cherry', 'apple']

In [39]:
even_more_fruits = ['peache', 'kiwi', 'lemon']
more_fruits.extend(even_more_fruits) #adding only the elements of a list into another list

In [40]:
more_fruits

['banana',
 'dates',
 'guava',
 'tomato',
 'pinapple',
 'dates',
 'cherry',
 'apple',
 'peache',
 'kiwi',
 'lemon']

In [42]:
more_fruits.sort() #sorting a list of strings in alphabetical order
more_fruits

['apple',
 'banana',
 'cherry',
 'dates',
 'dates',
 'guava',
 'kiwi',
 'lemon',
 'peache',
 'pinapple',
 'tomato']

In [46]:
numbers = [1,3,4,5,6]
numbers.sort(reverse=True) #sorting a list of numbers in decreasing order
numbers

[6, 5, 4, 3, 1]

## Tuples

##### Similar to lists but tuples are imutable

In [1]:
tuple_example = ('apple', 'banana', 'passionfruit')

In [2]:
len(tuple_example) #checking the tuples' length

3

In [3]:
tuple_example[1] #selecting a item by the index

'banana'

In [4]:
tuple_example[-1] #selecting a item using negative index

'passionfruit'

In [5]:
'guava' in tuple_example #checking if a value is within the tuple

False

In [6]:
tuple_example[1] = 'guava' #this is the biggest difference, tuples are imutable

TypeError: 'tuple' object does not support item assignment

## Dictionary

##### It is an unordered collection of items; there is always a key and a value

In [1]:
person1 = {
    'name' : 'John Doe',
    'sex' : 'Male',
    'age': 32,
    'married' : True 
}

In [2]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [3]:
#Dictionaries can also be created using the dict function
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [4]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [5]:
person3 = dict(name='Juan', sex='Male', age=25, married=False)

In [6]:
person3

{'name': 'Juan', 'sex': 'Male', 'age': 25, 'married': False}

In [7]:
type(person3)

dict

#### Methods to access data from dict

In [8]:
person3['name']

'Juan'

In [11]:
person3['Address'] # Keyerror is returned if the key does not exist

KeyError: 'Address'

In [13]:
person3.get('name') #get method, very useful as well

'Juan'

In [15]:
person3.get('address', 'unknown') #you can set a value to be returned in case the key does not exist

'unknown'

In [16]:
'name' in person3 #you can also check if the key is present in certain dict

True

In [19]:
'address' in person3 #you can also check if the key is present in certain dict

False

In [20]:
person3['married']

False

In [23]:
person3['married'] = True #You can also change the value associated with a key using the assignment operator

In [24]:
person3['married']

True

In [32]:
person3['address'] = 'Collins Square, Benburb Street' #you can also add new key-value pairs to the dictionary

In [33]:
person3

{'name': 'Juan',
 'sex': 'Male',
 'age': 25,
 'married': True,
 'address': 'Collins Square, Benburb Street'}

In [34]:
person3.pop('address') #you can remove the key-value as well

'Collins Square, Benburb Street'

In [35]:
person3

{'name': 'Juan', 'sex': 'Male', 'age': 25, 'married': True}

#### Dictionaries also provide methods to view the list of keys, values or key-values pairs inside it

In [37]:
person3.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [38]:
person3.values()

dict_values(['Juan', 'Male', 25, True])

In [39]:
person3.items()

dict_items([('name', 'Juan'), ('sex', 'Male'), ('age', 25), ('married', True)])

In [40]:
person3.items()[1]

TypeError: 'dict_items' object is not subscriptable

## Conditional Statements

#### IF Statement

In [1]:
a_number = 34

In [2]:
if a_number % 2 == 0:
    print("We are inside an if block!")
    print("The given number {} is even".format(a_number))

We are inside an if block!
The given number 34 is even

In [3]:
another_number = 33

In [9]:
if another_number % 2 == 0:
    print("The given number {} is even".format(another_number))

In [11]:
if another_number % 2 == 0:
    print("The given number {} is even".format(another_number))
else:
    print("The given number {} is odd".format(another_number))

The given number 33 is odd

In [12]:
the_3_musketeers = ("Athos", "Porthos", "Aramis")

In [14]:
a_candidate = "D'Artagan"

In [16]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'Artagan is not a musketeer

#### The ELIF Statement

In [17]:
today = "Sunday"

In [18]:
if today == "Sunday":
    print("Today is the day of the sun.")
elif today == "Monday":
    print("Today is the day of the moon.")
elif today == "Tuesday":
    print("Today is the day of the Tyr, the god of war.")
elif today == "Wednesday":
    print("Today is the day of Odin, the supreme diety ")
elif today == "Thursday":
    print("Today is the day of Thor, the god of thunder")
elif today == "Friday":
    print("Today is the day of Frigga, the goddess of beauty")
elif today == "Saturday":
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of the sun.

### We can mix IF, ELIF and ELSE Statements

In [20]:
if a_number % 2 ==0:
    print("The given number {} is even".format(a_number))
elif a_number % 3 == 0:
    print("The given number {} is odd".format(a_number))
elif a_number % 5 == 0:
    print("The given number {} is divisible by 5".format(a_number))
else:
    print("All checks failed!")
    print("{} is not divisible by 2, 3 or 5".format(a_number))

The given number 34 is even

In [21]:
a_number = 12

In [22]:
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5.".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5.".format(a_number))

The number 12 is not divisible by 5.

In [23]:
if a_number % 2 == 0:
    print("The number {} is even".format(a_number))
    if a_number % 3 == 0:
        print("The number {} is also divisible by 3".format(a_number))
    else:
        print("The number {} is NOT divisible by 3".format(a_number))
else:
    print("The number {} is odd".format(a_number))
    if a_number % 5 == 0:
        print("The number {} is also divisible by 5".format(a_number))
    else:
        print("The number {} is NOT divisible by 5".format(a_number))

The number 12 is even
The number 12 is also divisible by 3

In [29]:
result = 1
i = 1

while i <= 100:
    result = result * i
    i = i+1

print("The factorial of 100 is: {}".format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [1]:
line = '*'
max_length = 10

while len(line) < max_length:
    print(line)
    line += '*'

while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [34]:
line = '*' * 6
max_length = 7
i = 1

while len(line) > 0:
    print(" "*len(line) , "*" * i)
    line = line [:-1]
    i += 1

line = '**'
i=5
while len(line) < max_length:
    print(" "*len(line) , "*" * i)
    line += '*'
    i -= 1

       *
      **
     ***
    ****
   *****
  ******
   *****
    ****
     ***
      **
       *

### Break and Continue Statements

In [40]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution...') 
        break
    i += 1
print("i: ", i)
print("result: ", result)

Magic number 42 reached! Stopping execution...
i:  42
result:  1405006117752879898543142606244511569936384000000000

In [42]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print("Skipping number {}".format(i))
        continue
    print("Multiplying with number {}".format(i))

print('i: ', i)
print('result: ', result)

Skipping number 2
Multiplying with number 3
Skipping number 4
Multiplying with number 5
Skipping number 6
Multiplying with number 7
Skipping number 8
Multiplying with number 9
Skipping number 10
Multiplying with number 11
Skipping number 12
Multiplying with number 13
Skipping number 14
Multiplying with number 15
Skipping number 16
Multiplying with number 17
Skipping number 18
Multiplying with number 19
Skipping number 20
i:  20
result:  1

# For loop

In [43]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [45]:
#looping over a string

for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [48]:
#Looping over a tuple

for fruit in ['Apple', 'Banana', 'Guava']:
    print("Here's a fruit: ", fruit)

Here's a fruit:  Apple
Here's a fruit:  Banana
Here's a fruit:  Guava

In [53]:
#Looping over a dictionary

person = {
    'name': 'John',
    'sex': 'Male',
    'age': 30,
    'married': True
}

for key in person:
    print("Key:", key, "Value:", person[key])

Key: name Value: John
Key: sex Value: Male
Key: age Value: 30
Key: married Value: True

In [54]:
#only printing values
for values in person.values():
    print(values)

John
Male
30
True

In [55]:
#items function
for items in person.items():
    print(items)

('name', 'John')
('sex', 'Male')
('age', 30)
('married', True)

In [62]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}'. format(i, a_list[i]))

The value at position 0 is Monday
The value at position 1 is Tuesday
The value at position 2 is Wednesday
The value at position 3 is Thursday
The value at position 4 is Friday

In [68]:
for day in a_list:
    print('Today is {}'.format(day))
    if day == 'Wednesday':
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [70]:
for day in a_list:
    if day == 'Wednesday':
        print("I don't work beyond Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work beyond Wednesday!
Today is Thursday
Today is Friday

In [72]:
persons = [{'name': 'John', 'age':20, 'married': True}, {'name': 'Maria', 'age':30, 'married': False}]

for person in persons:
    for key in person:
        print('Key:', key, 'Value:', person[key])
    print('')

Key: name Value: John
Key: age Value: 20
Key: married Value: True

Key: name Value: Maria
Key: age Value: 30
Key: married Value: False

In [73]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['Banana', 'Guava', 'Orange']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday Banana
Monday Guava
Monday Orange
Tuesday Banana
Tuesday Guava
Tuesday Orange
Wednesday Banana
Wednesday Guava
Wednesday Orange